<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devanant.bee">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bee">
        <activity android:name=".UI.ConfessionSearch"></activity>
        <activity android:name=".UI.ConfessionComment" />
        <activity android:name=".UI.FriendRequests" />
        <activity android:name=".UI.InterestBrowse" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".UI.OtherProfile" />
        <activity android:name=".UI.EditProfile" />
        <activity android:name=".UI.Home.HomeActivity" />
        <activity android:name=".UI.ChooseInterest" />
        <activity android:name=".UI.ChooseOrganisation" />
        <activity android:name=".UI.ChatSocket.MainActivity" />
        <activity android:name=".UI.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.CreateProfile" />
        <activity android:name=".UI.PhoneLogin" />
        <activity android:name=".UI.EmailLogin" />
        <activity android:name=".UI.LoginHome" />
        <activity android:name=".UI.Home.SearchUsersTags" />
    </application>

</manifest>